/* Only global styling CSS Rules should be placed here, for component specific styling use CSS Modules */

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Hacked';
  src: url('/fonts/Hacked.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@keyframes spin-and-color-change {
  0% {
    transform: rotate(0deg);
    background-color: #ad56e4;
  }
  50% {
    transform: rotate(180deg);
    background-color: hsl(257, 53%, 53%); 
  }
  100% {
    transform: rotate(360deg);
    background-color: #9d4dce;
  }
}


.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}

.animate-spin-and-color-change {
  animation: spin-and-color-change 20s linear infinite;
}
